*{
    background-color: #16469A;
}
.logo{
    height: 50px;
    
}
.logoDiv{
  
  display: flex;
  justify-content: center;
}
.divForm{
    padding: 15px 5px;
    display: flex;
    justify-content: space-evenly;
}
.addTxnDiv{
    display: flex;
    justify-content: space-evenly;

}
.tableDiv{
    display: flex;
    width:100%;
    justify-content: center;
    min-width: 600px;
}
.table{
    min-width: 600px;
    padding: 30px 50px;
    background-color: cornflowerblue;
    border-radius: 25px;
    
}
.tableRow{
    padding-top: 10px;
}
.export{
    display: flex;
    justify-content: right;
}
.exportBtn{
    background-color: #F5E5D5;
    border-radius: 10px;
}
.budget{
    color:  #F7E6A9;
    font-weight: 300;
}
.budgetForm{
    background-color:darkgrey;
}
.expenses{
    display: flex;
    justify-content: right;
    padding: 10px;
    color: chartreuse;
}
.label{
    color: #FDEB61;
}
.input{
    color: azure;
}
.tH{
    color:goldenrod;
    border-radius: 20px;
}